<!doctype html>
<html lang="en">
    <head>
        {% load static %}
        <title>Title</title>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />

        <!-- Bootstrap CSS v5.2.1 -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous"
        />
         <!-- Bootstrap JavaScript Libraries -->
         <script
         src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
         integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
         crossorigin="anonymous"
     ></script>

     <script
         src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
         integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
         crossorigin="anonymous"
     ></script>
     <style>
        .card-container {
            margin-bottom: 1.5rem;
        }

        .card {
            width: 23rem;
        }
        .stretched-link:hover{
            background-color: red;
        }
     </style>
     
     <link rel="stylesheet" href="{% static 'css/packages.css'%}" />
    </head>
    <body>
        <h1 class="ph ShowAuto">PACKAGES</h1>
        <div class="container">
            <div class="row">
                {% for i in tour %}
                <div class="col-md-4 mb-4 ShowAuto">
                    <div class="card bg-dark text-light text-center rounded-4 p-2 pb-0 shadow border-0 h-100">
                        <img src="{{ i.images.url }}" class="rounded-4" alt="...">
                        <div class="card-body">
                            <h5 class="card-title fw-bold">{{ i.package_name }}</h5>
                            <p class="card-text">{{ i.description }}</p>
                            <a class="stretched-link" id="book" style="border: white 1px solid; text-decoration: none; padding: 2px; box-shadow: rgb(255, 255, 255) 2px;" href="{% url 'Det' i.id %}">
                                <span style="color: white; font-weight: 300;">BOOK NOW</span>
                            </a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        </body>
        </html>







<!-- style="padding-left: 100px;padding-top: 25px; gap: 100px;" -->