.background-wrapper h1{
    color: white;
    padding-top: 280px;
    padding-left: 15%;
    font-family: "Paytone One", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 45px;
}
.background-wrapper p{
    color: white;
    padding-left: 12%;
    font-weight: 300;
}






/* .........................................ABOUT US ......................................  */







